h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

table {
    font-family: helvetica, sans-serif;
    border: 1px solid; 
    color: blueviolet;
    border-collapse: collapse;
    width: 100%; 
}

th {
    font-weight: 800;
    background-color: blueviolet;
    color: aquamarine;
    border: 1px solid blueviolet; 
    text-align: left;
}

td {
    border: 1px solid blueviolet; 
    padding: 8px; 
}

tr:hover {
    background-color: lavender;
}
